@model GratisForGratis.Models.ListaOggetti

@section Styles {
    @Styles.Render("~/Content/home.css")
    @Styles.Render("~/Content/ricerca.css")
}
<aside id="ricerca">
    @Html.Partial("Filtri/Libro", new GratisForGratis.Models.RicercaLibroViewModel(Model.TotalNumber))
</aside>
<section id="page">
    <section id="home" class="content">
        @Html.Partial("Elenco/Libro", Model)
    </section>
</section>

@section Scripts {
    @Scripts.Render("~/Scripts/ricerca.js")
}