@model GratisForGratis.Models.PubblicaOggettoViewModel

@section Styles {
    @Styles.Render("~/Content/categoria.css")
}

<section id="head">
    <div class="content">
        <h1 id="title">@Language.TitlePublication</h1>
    </div>
</section>
<section id="pubblicazione">
    <ul id="sceltaCategoria">
        @foreach (GratisForGratis.Models.FINDSOTTOCATEGORIE_Result categoria in (Application["categorie"] as List<GratisForGratis.Models.FINDSOTTOCATEGORIE_Result>).Where(c => c.LIVELLO == 0 && c.TIPO_VENDITA == 0))
        {
            <li>
                <a class="categoria" title="@categoria.NOME">@categoria.NOME</a>
                <ul class="sottomenu">
                    @foreach (GratisForGratis.Models.FINDSOTTOCATEGORIE_Result sottocategoria in (Application["categorie"] as List<GratisForGratis.Models.FINDSOTTOCATEGORIE_Result>).Where(c => c.ID_PADRE == categoria.ID))
                    {
                        <li>
                            @if (categoria.ID != 2)
                            {
                                @Html.ActionLink(sottocategoria.NOME, "SetCategoria", "Pubblica", new { categoria = sottocategoria.ID }, new { @class = "link", title = categoria.NOME + " - " + sottocategoria.NOME })
                            }
                            else
                            {
                                <a title="@sottocategoria.NOME">@sottocategoria.NOME</a>
                                <ul>
                                    @foreach (GratisForGratis.Models.FINDSOTTOCATEGORIE_Result microcategoria in (Application["categorie"] as List<GratisForGratis.Models.FINDSOTTOCATEGORIE_Result>).Where(c => c.ID_PADRE == sottocategoria.ID))
                                    {
                                        <li>
                                            @Html.ActionLink(microcategoria.NOME, "SetCategoria", "Pubblica", new { categoria = microcategoria.ID }, new { @class = "link", title = sottocategoria.NOME + " - " + microcategoria.NOME })
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>

</section>