@model GratisForGratis.Models.OggettoViewModel
@using System.Web.Configuration
<tr>
    <td style="width:50px;">&nbsp;</td>
    <td align="center" style="padding:30px 0px 0px;line-height:12px;">
        @Html.Raw(string.Format(Email.Hello, Model.Venditore))
    </td>
    <td style="width:50px;">&nbsp;</td>
</tr>
<tr>
    <td style="width:50px;">&nbsp;</td>
    <td align="center" style="padding:14px 0px 0px;line-height:12px;">
        @Html.Raw(string.Format(Email.PaymentText1,Model.Nome, Model.Compratore))<br /><br />
        <div bgcolor="#178fcc" width="160" style="width:160px;background-color:#178fcc;">
            <p>&nbsp;</p>
            @Html.ActionLink(Email.PaymentHistorical, "StoricoPagamenti", "Offerte", null, Request.Url.Host, null, null, new { style = "color:#FFF;" })
            <p>&nbsp;</p>
        </div>
    </td>
    <td style="width:50px;">&nbsp;</td>
</tr>
<tr>
    <td style="width:50px;">&nbsp;</td>
    <td align="center" style="padding:20px 0px 0px;line-height:12px;">
        @Html.Raw(@Email.PaymentFooter)
        <span style="font-style:italic;">Team @WebConfigurationManager.AppSettings["nomeSito"].</span>
    </td>
    <td style="width:50px;">&nbsp;</td>
</tr>
<tr>
    <td colspan="3">&nbsp;</td>
</tr>

