<section id="head">
    <div class="content">
        <h1 id="title">@ViewBag.Title</h1>
    </div>
</section>
<section id="contacts">
    <div class="content">
        <h2 id="description">@Resources.Language.DescriptionContacts</h2>
    </div>
</section>
<section id="info">
    <div class="content">
        <address>
            <strong>@Resources.Language.Address</strong> <a href="mailto:info@gratisforgratis.com">info@gratisforgratis.com</a><br /><br />
        </address>

        <address>
            <strong>@Resources.Language.Support:</strong>   <a href="mailto:Support@gratisforgratis.com">Support@gratisforgratis.com</a><br />
            <strong>@Resources.Language.Marketing:</strong> <a href="mailto:Marketing@gratisforgratis.com">Marketing@gratisforgratis.com</a>
        </address>
    </div>
</section>