@Styles.Render("~/Content/cosaFacciamo.css")
<section id="head">
    <div class="content">
        <h1 id="title">@Language.WhatIDo</h1>
    </div>
</section>
<section id="abbonamenti">
    GratisForGratis per il primo anno sarà gratuito per tutti. Dal secondo anno in poi, i nuovi iscritti pagheranno
    la cifra simbolica di un euro ogni tre mesi, se effettueranno naturalmente almeno un acquisto o una vendita.
    In caso di nessuna compravendita, l'utente rimarrà lo stesso iscritto senza problemi.
</section>
<section id="spedizione">
    GratisForGratis offre ai propri utenti una forma di spedizione sicura e veloce con il corriere espresso piu’ famoso d’Italia – SDA.
    Comodità, velocità e sicurezza – sono i punti forti della spedizione GratisForGratis&SDA

    Ritiro a domicilio:
    Niente piu’ code alla posta e niente piu’ difficoltà per ricevere il rimborso per le spese dall’acquirente. Con la spedizione GratisForGratis&SDA potrai monitorare la consegna tramite il tracking online su www.sda.it

    Convenienza:
    Grazie all’accordo GratisForGratis&SDA i prezzi per le spedizioni sono piu’ convenienti rispetto ai prezzi di mercato.

    Velocità
    La SDA fa parte del Gruppo Poste italiane e offre servizi express su tutto il territorio nazionale . La consegna viene effettuata in 1/2 giorni lavorativi successivi al ritiro .

    Come funziona
    -Dopo aver effettuato uno scambio l’acquirente acquista la spedizione.
    -A pagamento effettuato l’acquirente riceverà via email il numero della lettera di vettura da comunicare al venditore.
    - Il venditore prenota il ritiro su www.sda.it oppure chiamando il numero 199.113366 , applicando sul pacco la copia della lettera di vettura ricevuta via email dall’acquirente.
    - In 24 – 48 ore l’oggetto verrà consegnato al destinatario.

    Costi(*)
    Scegli il modulo in base al peso dell’oggetto:

    Importo con IVA (22%)	Descrizione
    8,50 €	10,37 €	da zero a 3 kg
    10,40 €	12,69 €	da 3 a 10 kg
    11,50 €	14,03 €	da 10 a 15 kg
</section>
<section id="whoare">
    <div class="content">
        <h2 id="description">@Html.Raw(Language.Whoare)</h2>
    </div>
</section>
<section id="advantages">
    <ul>
        <img class="ico" src="@Url.Content("~/Images/icone/freetax.svg")" alt="@Resources.Language.FreeTax" />
        <li class="noTax">
            <h5>@Html.Raw(Language.AdvNoTax1)</h5>
        </li>
        <li class="noTax">
            <h5>@Html.Raw(Language.AdvNoTax2)</h5>
        </li>
    </ul>
    <ul>
        <img class="ico" src="@Url.Content("~/Images/icone/free.svg")" alt="@Resources.Language.GratisPurchase" />
        <li class="buyGratis">
            <h5>@Html.Raw(Language.AdvBuyGratis)</h5>
        </li>
    </ul>
    <ul>
        <img class="ico" src="@Url.Content("~/Images/icone/bonus.svg")" alt="@Resources.Language.Bonus" />
        <li class="bonus">
            <h5>@Html.Raw(string.Format(Language.AdvBonus1, System.Configuration.ConfigurationManager.AppSettings["bonusIscrizione"] + " " + Language.Moneta))</h5>
        </li>
        <li class="bonus">
            <h5>@Html.Raw(string.Format(Language.AdvBonus2, System.Configuration.ConfigurationManager.AppSettings["bonusPubblicazioniIniziali"] + " " + Language.Moneta))</h5>
        </li>
        <li class="bonus">
            <h5>@Html.Raw(Language.AdvBonus3)</h5>
        </li>
    </ul>
    <ul>
        <img class="ico" src="@Url.Content("~/Images/icone/security.svg")" alt="@Resources.Language.Security" />
        <li class="security">
            <h5>@Html.Raw(Language.AdvSecurity1)</h5>
        </li>
        <li class="security">
            <h5>@Html.Raw(Language.AdvSecurity2)</h5>
        </li>
        <li class="security">
            <h5>@Html.Raw(Language.AdvSecurity3)</h5>
        </li>
    </ul>
    <ul>
        <img class="ico" src="@Url.Content("~/Images/icone/gpoints.svg")" alt="GPoints" />
        <img class="ico" src="@Url.Content("~/Images/icone/exchange.svg")" alt="@Resources.Language.Exchange" />
        <img class="ico" src="@Url.Content("~/Images/icone/gift.svg")" alt="@Resources.Language.Gift" />
        <li class="modes">
            <h5>@Html.Raw(Language.AdvModes1)</h5>
        </li>
        <li class="modes">
            <h5>@Html.Raw(Language.AdvModes2)</h5>
        </li>
        <li class="modes">
            <h5>@Html.Raw(Language.AdvModes3)</h5>
        </li>
    </ul>
</section>