@model GratisForGratis.Models.UtentePasswordDimenticataViewModel
@using System.Web.Configuration
<tr>
    <td style="width:50px;">&nbsp;</td>
    <td align="center" style="padding:12px 0px 0px;line-height:12px;">
        @Html.Raw(Email.ForgotPasswordText1)
    </td>
    <td style="width:50px;">&nbsp;</td>
</tr>
<tr>
    <td style="width:50px;">&nbsp;</td>
    <td align="center" style="padding:16px 0px 0px;line-height:12px;">
        Login: <a style="color: #189CBB;font-weight:bold;" href="mailto:@Model.Email">@Model.Email</a><br /><br />
        @Email.NewPassword: @Model.NuovaPassword
    </td>
    <td style="width:50px;">&nbsp;</td>
</tr>
<tr>
    <td style="width:50px;">&nbsp;</td>
    <td align="center" style="padding:20px 0px 0px;line-height:12px;">
        @Html.Raw(Email.ForgotPasswordText2)
    </td>
    <td style="width:50px;">&nbsp;</td>
</tr>
<tr>
    <td style="width:50px;">&nbsp;</td>
    <td align="center" style="padding:20px 0px 0px;line-height:12px;">
        <strong>@Email.SloganFooter</strong>
        <span style="font-style:italic;">Team @WebConfigurationManager.AppSettings["nomeSito"].</span>
    </td>
    <td style="width:50px;">&nbsp;</td>
</tr>
<tr>
    <td colspan="3">&nbsp;</td>
</tr>

