@using GratisForGratis.Models
@model PortaleWebLoginModel
@Styles.Render("~/Content/Login.css")
<section id="head">
    <div class="content">
        <h1 id="title">@Resources.Language.TitleAccessForSite</h1>
    </div>
</section>
<section id="loginForm">
    <div class="content">
        @using (Html.BeginForm("Login", "PortaleWeb", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ReturnUrl, new { Value = ViewBag.ReturnUrl })
            <h2 id="description">@Language.DescriptionLoginForSite</h2>
            <hr />
            <p>@Html.ValidationMessage("Error", new { @class = "text-danger" })</p>
            if (TempData["salvato"] != null && (bool)TempData["salvato"])
            {
                <h4 class="message">@Language.SendPasswordOk</h4>
            }
            <div class="riga">
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md">
                        @Html.TextBoxFor(m => m.Email, new { type = "email", @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="riga">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RicordaLogin)
                            @Html.LabelFor(m => m.RicordaLogin)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Accedi" class="btn btn-default" />
                    </div>
                </div>
            </div>
            <p>
                @Html.ActionLink("Esegui registrazione come nuovo utente", "Registrazione")
            </p>
            <p>
                @Html.ActionLink("Password dimenticata?", "PasswordDimenticata")
            </p>
        }
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




