@model GratisForGratis.Models.PortaleWebRegistrazioneModel
@{
    ViewBag.Title = Resources.Language.TitleRegisterForSite;
}

<section id="head">
    <div class="content">
        <h1>@ViewBag.Title</h1>
    </div>
</section>
<section id="loginForm">
    @using (Html.BeginForm("Registrazione", "PortaleWeb", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h2 id="description">Creare un nuovo account.</h2>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        if (TempData["salvato"] != null && (bool)TempData["salvato"])
        {
            <h4 class="message">@Language.RegistrazioneOK</h4>
        }
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label required" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label required" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfermaPassword, new { @class = "col-md-2 control-label required" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfermaPassword, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.ConfermaPassword, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Nome, new { @class = "col-md-2 control-label required" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Dominio, new { @class = "col-md-2 control-label required" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Dominio, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.Dominio, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Telefono, new { @class = "col-md-2 control-label required" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.Telefono, "", new { @class = "text-danger" })
        </div>
        <div class="footer">
            <input type="submit" class="btn btn-default" value="@Resources.Language.Register" />
        </div>
    }
</section>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
