@model GratisForGratis.Models.UtenteCambioPasswordViewModel

@{
    ViewBag.Title = Language.ChangePassword + " " + (Session["utente"] as GratisForGratis.Models.PersonaModel).Persona.NOME + " " + (Session["utente"] as GratisForGratis.Models.PersonaModel).Persona.COGNOME;
}

@section Styles{
    @Styles.Render("~/Content/passwordDimenticata.css")
}

<section id="head">
    <div class="content">
        <h1 id="title">@ViewBag.Title</h1>
    </div>
</section>
<section id="passwordForm">
    <div class="content">
        @using (Html.BeginForm("CambioPassword", "Utente", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            if (TempData["salvato"] != null && (bool)TempData["salvato"])
            {
                <h4 class="message">Dato salvato correttamente!</h4>
            }
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfermaPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md">
                    @Html.PasswordFor(m => m.ConfermaPassword, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.ConfermaPassword, "", new { @class = "text-danger" })
            </div>
            <div class="footer">
                <input type="submit" value="@Language.Save" class="btn" />
            </div>
        }
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

