@model GratisForGratis.Models.UtenteImpostazioniViewModel

@{
    ViewBag.Title = Language.Settings + " " + (Session["utente"] as GratisForGratis.Models.PersonaModel).Persona.NOME + " " + (Session["utente"] as GratisForGratis.Models.PersonaModel).Persona.COGNOME;
}

@section Styles{
    @Styles.Render("~/Content/passwordDimenticata.css")
}

<section id="head">
    <div class="content">
        <h1 id="title">@ViewBag.Title</h1>
    </div>
</section>
<section id="passwordForm">
    <div class="content">
        @using (Html.BeginForm("Impostazioni", "Utente", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            if (TempData["salvato"] != null && (bool)TempData["salvato"])
            {
                <h4 class="message">@Language.SaveOK</h4>
            }
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Nome, new { @class = "col-md-2 control-label" })
                <div class="col-md">
                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Cognome, new { @class = "col-md-2 control-label" })
                <div class="col-md">
                    @Html.TextBoxFor(m => m.Cognome, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.Cognome, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Citta, new { @class = "col-md-2 control-label" })
                <div class="col-md">
                    @Html.TextBoxFor(m => m.Citta, new { @class = "form-control", data_autocomplete_url = "/Home/FindCitta", data_autocomplete_id = "IDCitta" })
                    @Html.HiddenFor(m => m.IDCitta)
                </div>
                @Html.ValidationMessageFor(m => m.IDCitta, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Indirizzo, new { @class = "col-md-2 control-label" })
                <div class="col-md">
                    @Html.TextBoxFor(m => m.Indirizzo, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.Indirizzo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Civico, new { @class = "col-md-2 control-label" })
                <div class="col-md">
                    @Html.TextBoxFor(m => m.Civico, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.Civico, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Telefono, new { @class = "col-md-2 control-label" })
                <div class="col-md">
                    @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.Telefono, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CittaSpedizione, new { @class = "col-md-2 control-label" })
                <div class="col-md">
                    @Html.TextBoxFor(m => m.CittaSpedizione, new { @class = "form-control", data_autocomplete_url = "/Home/FindCitta", data_autocomplete_id = "IDCittaSpedizione" })
                    @Html.HiddenFor(m => m.IDCittaSpedizione)
                </div>
                @Html.ValidationMessageFor(m => m.IDCittaSpedizione, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.IndirizzoSpedizione, new { @class = "col-md-2 control-label" })
                <div class="col-md">
                    @Html.TextBoxFor(m => m.IndirizzoSpedizione, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.IndirizzoSpedizione, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CivicoSpedizione, new { @class = "col-md-2 control-label" })
                <div class="col-md">
                    @Html.TextBoxFor(m => m.CivicoSpedizione, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.CivicoSpedizione, "", new { @class = "text-danger" })
            </div>
            <div class="footer">
                <input type="submit" value="@Language.Save" class="btn" />
            </div>
        }
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

