@using GratisForGratis.App_GlobalResources
@Styles.Render("~/Content/Index.css")
@Styles.Render("~/Content/saldoPunti.css")

<section id="menuUser">
    <h1 id="title">@Language.TitleIndex</h1>
    <div class="points">
        <h3>@Language.CurrentBalance: <a class="gpoints">@(((GratisForGratis.Models.PersonaModel)Session["utente"]).ContoCorrente.Count(m => m.STATO == (int)GratisForGratis.Models.StatoMoneta.ASSEGNATA)) @Language.Moneta</a></h3>
        <h3>@Language.Points @Language.InSuspense: <a class="gpointsSuspense">@(((GratisForGratis.Models.PersonaModel)Session["utente"]).ContoCorrente.Count(m => m.STATO == (int)GratisForGratis.Models.StatoMoneta.SOSPESA)) @Language.Moneta</a></h3>
    </div>
    <div class="btn confirm">
        @Html.ActionLink(Language.ConfirmPurchase, "Effettuate", "Offerte", null, new { @class = "link" })
    </div>
    <div class="btn onsale">
        @Html.ActionLink(Language.OnSale, "Ricevute", "Offerte", null, new { @class = "link" })
    </div>
    <div class="btn publicationObject">
        @Html.ActionLink(Language.PublicationObjects, "Oggetto", "Pubblica", null, new { @class = "link" })
    </div>
    <div class="btn publicationService">
        @Html.ActionLink(Language.PublicationServices, "Servizio", "Pubblica", null, new { @class = "link" })
    </div>
    <div class="btn history">
        @Html.ActionLink(Language.PaymentHistory, "StoricoPagamenti", "Offerte", null, new { @class = "link" })
    </div>
    <div class="btn settings">
        @Html.ActionLink(Language.Settings, "Impostazioni", "Utente", null, new { @class = "link" })
    </div>
</section>