@model GratisForGratis.Models.PubblicaOggettoViewModel

@section Styles {
    @Styles.Render("~/Content/categoria.css")
}

<section id="head">
    <div class="content">
        <h1 id="title">@Language.TitlePublication</h1>
    </div>
</section>
<section id="pubblicazione">
    <ul id="sceltaCategoria">
        @foreach (GratisForGratis.Models.FINDSOTTOCATEGORIE_Result categoria in (Application["categorie"] as List<GratisForGratis.Models.FINDSOTTOCATEGORIE_Result>).Where(c => c.LIVELLO == 0 && c.TIPO_VENDITA == 1))
        {
            <li>
                <a class="categoria" title="@categoria.NOME">@categoria.NOME</a>
                <ul class="sottomenu">
                    @foreach (GratisForGratis.Models.FINDSOTTOCATEGORIE_Result sottocategoria in (Application["categorie"] as List<GratisForGratis.Models.FINDSOTTOCATEGORIE_Result>).Where(c => c.ID_PADRE == categoria.ID))
                    {
                        <li>
                            @Html.ActionLink(sottocategoria.NOME, "SetCategoria", "Pubblica", new { categoria = sottocategoria.ID }, new { @class = "link", title = categoria.NOME + " - " + sottocategoria.NOME })
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>

</section>