@model GratisForGratis.Models.OffertaEffettuataViewModel

@{
    ViewBag.Title = @Language.TitlePurchaseCompleted;
}

@section Styles {
    @Styles.Render("~/Content/offertaSalvata.css")
}

<section id="page">
    <h1 id="title">@ViewBag.Title</h1>
    <h5 class="category">
        <span style="text-transform:uppercase;">@Language.Category : </span>
        @foreach (GratisForGratis.Models.FINDSOTTOCATEGORIE_Result categoria in (HttpContext.Current.Application["categorie"] as List<GratisForGratis.Models.FINDSOTTOCATEGORIE_Result>).Where(c => c.ID == Model.IDCategoria))
        {
            @Html.ActionLink(categoria.NOME, "Index", "Cerca", new { Cerca_IDCategoria = categoria.ID, Cerca_Categoria = categoria.NOME }, new { @class = "link" })
        }
    </h5><br />
    <h3 class="info">
        @if (Model.TipoOfferta == GratisForGratis.Models.TipoOfferta.Punti)
        {
            <!-- cambiare frase sotto e verificare l'acquisto della categoria pc -->
            @Html.Raw(string.Format(Language.InfoPurchaseCompleted,
                Model.Punti + " " + Language.Moneta + "(" + Model.Soldi +"€)",
                Model.Nome,
                Html.ActionLink(Language.OrdersCompleted, "Effettuate", "Offerte", null, new { @class = "link" })
            ))
            <br />
            @Html.Raw(Language.MoreSecurityPurchaseCompleted)
        }
            else
            {
                @Html.Raw(string.Format(Language.ConfirmWait,
                    Model.Punti + " " + Language.Moneta + "(" + Model.Soldi + "€)",
                    Model.Nome,
                    Html.ActionLink(Language.OrdersCompleted, "Effettuate", "Offerte", null, new { @class = "link" })
                ))
            <br />
            if (Model.Baratti.Count > 0)
            {
                @Language.InfoBidCompleted
                <!-- lista link ad oggetti barattati -->
                foreach (GratisForGratis.Models.VenditaViewModel baratto in Model.Baratti)
                {
                    @Html.ActionLink(baratto.Nome, "Barattato", (baratto.TipoAcquisto == GratisForGratis.Models.TipoAcquisto.Servizio) ? GratisForGratis.Models.TipoAcquisto.Servizio.ToString() : GratisForGratis.Models.TipoAcquisto.Oggetto.ToString(), new { token = HttpUtility.UrlEncode(baratto.Token), nome = HttpUtility.UrlEncode(baratto.Nome) }, new { @class = "link" }) <br />
                }
            }
        }
    </h3>
    <h5>@Html.Raw(Language.GoBackOnSite)</h5>
    <h5 class="footer">
        @Language.FooterPurchaseCompleted
    </h5>
</section>